@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1550px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.page-comparison__header {
  position: relative;
  width: 100%;
  height: 148px;
  background-color: #fff;
}

.page-comparison__header .page-comparison__navigation {
  padding-top: 32px;
}

.page-comparison__header .page-comparison__navigation a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #9A9A9A;
}

.page-comparison__header .page-comparison__navigation span {
  color: #E5E5E5;
}

.page-comparison__header .page-comparison__title {
  margin-top: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
}

.page-comparison__body {
  background-color: #F6F6F6;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 38px;
}

.page-comparison__body .page-comparison__content-wrapper {
  width: 100%;
  height: 1000px;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding-top: 48px;
  padding-left: 30px;
  padding-bottom: 60px;
}

.page-comparison__body .page-comparison__content-wrapper .page-comparison__content-header {
  display: flex;
}

.page-comparison__body .page-comparison__content-wrapper .page-comparison__content-header .page-comparison__content-filter .page-comparison__filter-title {
  display: flex;
}

.page-comparison__body .page-comparison__content-wrapper .page-comparison__content-header .page-comparison__content-filter .page-comparison__filter-title .page-comparison__title-text {
  display: flex;
  align-items: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.page-comparison__body .page-comparison__content-wrapper .page-comparison__content-header .page-comparison__content-filter .page-comparison__filter-title img {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.page-comparison__body .page-comparison__content-wrapper .page-comparison__content-header .page-comparison__content-filter .page-comparison__filter-select select {
  margin-top: 20px;
  background: #FFFFFF;
  box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.1);
  appearance: none;
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 50px;
  width: 250px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ACB8CA;
  padding-left: 20px;
}

.page-comparison__body .page-comparison__content-wrapper .page-comparison__content-header .page-comparison__content-filter .page-comparison__filter-select select option {
  color: black;
}

.page-comparison__body .page-comparison__content-wrapper .page-comparison__content-header .page-comparison__content-filter .page-comparison__filter-select select::after {
  content: "";
}

.page-comparison__body .page-comparison__content-wrapper .page-comparison__content-header .page-comparison__content-filter .page-comparison__filter-radios {
  margin-top: 28px;
}

.page-comparison__body .page-comparison__content-wrapper .page-comparison__content-header .page-comparison__content-filter .page-comparison__filter-radios .page-comparison__radio {
  margin-bottom: 20px;
  display: flex;
}

.page-comparison__body .page-comparison__content-wrapper .page-comparison__content-header .page-comparison__content-filter .page-comparison__filter-radios .page-comparison__radio input {
  display: none;
}

.page-comparison__body .page-comparison__content-wrapper .page-comparison__content-header .page-comparison__content-filter .page-comparison__filter-radios .page-comparison__radio .fake {
  display: block;
  width: 20px;
  height: 20px;
  border: solid 2px #4BB1BC;
  background-color: #EEF8F9;
  border-radius: 50%;
  position: relative;
}

.page-comparison__body .page-comparison__content-wrapper .page-comparison__content-header .page-comparison__content-filter .page-comparison__filter-radios .page-comparison__radio .fake::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  height: 11px;
  width: 11px;
  background-color: #4BB1BC;
  border-radius: 50%;
  opacity: 0;
}

.page-comparison__body .page-comparison__content-wrapper .page-comparison__content-header .page-comparison__content-filter .page-comparison__filter-radios .page-comparison__radio input:checked + .fake::before {
  opacity: 1;
}

.page-comparison__body .page-comparison__content-wrapper .page-comparison__content-header .page-comparison__content-filter .page-comparison__filter-radios .page-comparison__radio .text {
  margin-left: 15px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.page-comparison__body .page-comparison__content-wrapper .page-comparison__content-header .page-comparison__content-object {
  margin-left: 95px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "btnClose btnClose" "photo categoryText" "photo smartphoneName" "photo costs" "photo buttons";
}

.page-comparison__body .page-comparison__content-wrapper .page-comparison__content-header .page-comparison__content-object .btn-close {
  grid-area: btnClose;
}

.page-comparison__body .page-comparison__content-wrapper .page-comparison__content-header .page-comparison__content-object .photo {
  grid-area: photo;
}

.page-comparison__body .page-comparison__content-wrapper .page-comparison__content-header .page-comparison__content-object .category-text {
  grid-area: categoryText;
}

.page-comparison__body .page-comparison__content-wrapper .page-comparison__content-header .page-comparison__content-object .smartphone-name {
  grid-area: smartphoneName;
}

.page-comparison__body .page-comparison__content-wrapper .page-comparison__content-header .page-comparison__content-object .costs {
  grid-area: costs;
}

.page-comparison__body .page-comparison__content-wrapper .page-comparison__content-header .page-comparison__content-object .buttons {
  grid-area: buttons;
}
