*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // background-color: #F6F6F6;
    // font-family: 'Montserrat', sans-serif;
}
// Ограничивающий контейнер 1520px
.container{
    width: 1550px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    // background-color: aqua;
}

// Шрифты 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

// SCSS модули
@import "page_comparison/header";


