*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // font-family: 'Montserrat', sans-serif;
}



    .container{
        width: 1550px;
        height: 1000px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
        background-color: aqua;
    }



// Шрифты 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
// Компоненты
@import "page_comparison/header"


