.page-comparison__footer{
    margin-top: 50px;
    .page-comparison__product{
        margin: 0 auto;
        width: 1100px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        @media (max-width: 1440px) {
            width: 992px;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
        }
        @media (max-width: 1440px) {
            width: 100%;
            padding-left: 33px;
            padding-right: 33px;
        }
    }
    .page-comparison__footer-buttons{
        margin-top: 33px;
        display: flex;
        justify-content: center;
        a{
            text-decoration: none;
        }
        .btn-clean-list{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 224px;
            height: 50px;
            background: #F6F6F6;
            border-radius: 10px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #000000;
            margin-right: 14px;
        }
        .btn-back{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 224px;
            height: 50px;
            background: #000000;
            border-radius: 10px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #FFFFFF;
            margin-left: 14px;
            img{
                margin-right: 10px;
            }
        }
    }
}